@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dropdown-container.active ~ .dropdown-inner {
    @apply flex;
  }
}

/* * {
  outline: 1px solid red;
} */

.dropdown-inner {
  animation: reveal-dropdown 250ms ease-in;
}

@keyframes reveal-dropdown {
  from {
    top: 120px;
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.faq-content > p {
  display: none;
}

.faq-content.h-fit > p {
  display: block;
}
