@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dropdown-container.active ~ .dropdown-inner {
    @apply flex;
  }
  .dropdown-container-mobile.active ~ .dropdown-inner-mobile {
    @apply block;
  }
  .mobile-menu {
    @apply -left-full;
  }
  .mobile-menu.active {
    @apply left-0 left-1/2;
  }
}

.dropdown-inner {
  animation: reveal-dropdown 250ms ease-in;
}

@keyframes reveal-dropdown {
  from {
    top: 120px;
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
